In [22]:
import pandas as pd
import numpy as np
import datetime
from string import Template
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
def get_MTA_data(startdate, enddate):
    data = pd.DataFrame()
    startdate = pd.to_datetime(startdate)  ### Assumption: Dates are Saturdays
    enddate = pd.to_datetime(enddate)
    
   # url = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_180623.txt'
    urlbase = Template('http://web.mta.info/developers/data/nyct/turnstile/turnstile_$date.txt')
    
    week = pd.Timedelta('7 days')
    next_saturday = startdate
    while(next_saturday <= enddate):
        urlday = next_saturday.strftime('%y%m%d')
        url = urlbase.substitute(date=urlday)
        next_saturday = next_saturday+week
        newdata = pd.read_csv(url)
        data = pd.concat([data,newdata])
        
        
   # url = urlbase.substitute(date=date)
    return(data)

In [4]:
data = get_MTA_data('04/28/2018','06/30/2018')

In [5]:
data.to_pickle("MTA_Apr_June.pkl")

In [95]:
#with open('MTA_Apr_June.pkl','wb') correct pickle formats

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,date_time,turnstile_id
date_time,,,,,,,,,,,,,
2018-04-21 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/21/2018,00:00:00,REGULAR,6590024,2232650,2018-04-21 00:00:00,59 ST_A002_R051_02-00-00
2018-04-21 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/21/2018,04:00:00,REGULAR,6590038,2232663,2018-04-21 04:00:00,59 ST_A002_R051_02-00-00
2018-04-21 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/21/2018,08:00:00,REGULAR,6590050,2232693,2018-04-21 08:00:00,59 ST_A002_R051_02-00-00
2018-04-21 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/21/2018,12:00:00,REGULAR,6590131,2232766,2018-04-21 12:00:00,59 ST_A002_R051_02-00-00
2018-04-21 16:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/21/2018,16:00:00,REGULAR,6590350,2232816,2018-04-21 16:00:00,59 ST_A002_R051_02-00-00

In [96]:
data.columns = [column.strip() for column in data.columns]

In [97]:
data['date_time'] = data['DATE']+' '+data['TIME']
data['date_time'] = pd.to_datetime(data['date_time'])

In [98]:
data.index = data['date_time']

#3: Time Intervals

Identifying unique turnstiles:

In [99]:
data['turnstile_id'] = data['STATION']+'_'+data['C/A']+'_'+data['UNIT']+'_'+data['SCP']

In [ ]:
def difference(srs):
    return srs.max() - srs.min()

In [ ]:
df_daily = data.groupby(by=['turnstile_id', 'DATE']).agg(difference)

In [ ]:
by_station =  data.groupby(by=['STATION','turnstile_id', 'DATE']).agg(difference)

In [ ]:
daily_totals = by_station.groupby(by=['STATION','DATE']).sum()

In [ ]:

daily_totals.reset_index(inplace=True)

In [ ]:
daily_totals["DATE"] = pd.to_datetime(daily_totals["DATE"])

In [ ]:
daily_totals = daily_totals[daily_totals["ENTRIES"]<200000]

In [ ]:

daily_totals.index = daily_totals["DATE"]

###possible problem
daily_totals_by_week = daily_totals.groupby("STATION").resample('W', how='sum').reset_index()

In [ ]:
daily_totals_by_week.head()

In [ ]:
weekly_totals = daily_totals_by_week.groupby("STATION").mean().reset_index()
weekly_totals["mean_percentage"] = (weekly_totals["ENTRIES"]/weekly_totals["ENTRIES"].sum())*100 ###possible problem

In [ ]:
weekly_totals["ENTRIES"].sum()

In [94]:
784022.727273/29434489.61298701

0.026636192357385926

In [92]:
weekly_totals.sort_values("ENTRIES",ascending=False).head(10)

             STATION        ENTRIES          EXITS  mean_percentage
60    34 ST-PENN STA  784022.727273  678365.545455         2.663619
232  GRD CNTRL-42 ST  720653.636364  690145.181818         2.448331
58   34 ST-HERALD SQ  594431.181818  560372.909091         2.019506
45             23 ST  546372.636364  424825.909091         1.856233
14    14 ST-UNION SQ  521808.545455  488234.545455         1.772779
67   42 ST-PORT AUTH  512094.909091  389535.545455         1.739778
225        FULTON ST  496950.000000  418912.454545         1.688326
352   TIMES SQ-42 ST  463714.818182  489350.181818         1.575413
109            86 ST  421655.181818  368532.090909         1.432521
9             125 ST  414684.000000  316211.909091         1.408837

In [87]:
import pickle
with open('Benson_full_analysis.pickle_v2', 'wb') as to_write:
    pickle.dump(weekly_totals, to_write)